

.videosplash{
		width:360px;
		
		margin-left:auto;
		margin-right:auto;
	}
@font-face {
    font-family: 'OFL-licensed-fonts';
    src: url('OFL-licensed_fonts.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
    font-display: swap;  /* Affichage progressif */
}
body {
	padding-left:8%;
	padding-right:8%;
    color:#004014;
    background-color: #AFAFAF;
    font-family: 'OFL-licensed-fonts', Arial,sans-serif;
    /*background-image: linear-gradient(to right, black, #373737);*/
}

@media screen and (max-width:800px) {
	body {
		padding-left:0%;
		padding-right:0%;
		animation: bodycolor 15s;
	}
		.videosplash{
		width:720px;
		margin-left:auto;
		margin-right:auto;
	}
}
a {
    color: #af5d00;
    text-decoration:none;
}
hr {
    color: #af5d00;
    text-decoration:none;
    clear:both;
}
h3 {
    color: #af2200;
}

.main_title {
	text-align:center;
}
.main_subtitle {
	text-align:center;
}
.button {
	background-color:#101010;
	border:solid 1px;
	text-align:center;
	margin-top:2%;
	margin-bottom:2%;
}
